@import 'breakpoints';
@import 'variables';

.hero {
  background:
  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
  url('../assets/hero.jpg');
  background-position: top;
  background-size: cover;
  padding: 10px;
  text-align: center;

  h2 {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-top: 20px;
  }

  @include breakpoint(mobile-sm) {
    padding: 20px;
  }
}

@include breakpoint(desktop) {
  .hero h2 {
    font-size: 3rem;
  }
}